region              = "us-east-1"
cluster_name        = "project-bedrock-cluster"
vpc_name            = "project-bedrock-vpc"
student_id          = "alt-soe-025-4808"
github_repo         = "YeeshaDev/capstone-project-bedrock"
db_password_catalog = "YourSecurePassword1!"
db_password_orders  = "YourSecurePassword2!"
